.header{
	text-align: center
}

.links{
	text-align: center
}

body{
	font-family: Courier, Helvetica, Arial, sans-serif;
	color: OrangeRed;
	text-align: center
}

a:link{
	color: OrangeRed;
}

a:visited{
	color: OrangeRed;
}

.link:hover{
  color: white;
  background-color: orangered ;
}

.fab:hover{
	color: black
}