.collapsible {
  cursor: pointer;
  color: OrangeRed
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 40%;
  margin:0 auto
}

.header{
	text-align: center;
	color: OrangeRed;
	cursor: pointer
}

body{
	font-family: Courier, Helvetica, Arial, sans-serif;
	text-align: center
}

.fab, .fas{
	color: OrangeRed;
}

.menu-item:hover{
  color: white;
  background-color: purple ;
}

.fab:hover, .fas:hover, .header:hover{
	color: purple
}